<form>
  <div class="input-group">
    <p>
      <label for="initialInvestment" title="initialInvestment">
        Initial Investment
      </label>
      <input
        type="number"
        name="initialInvestment"
        [(ngModel)]="initialInvestment"
      />
    </p>
    <p>
      <label for="annualInvestment" title="annualInvestment">
        Annual Investment
      </label>
      <input
        type="number"
        name="annualInvestment"
        [(ngModel)]="annualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedReturn" title="expectedReturn">
        Expected Return
      </label>
      <input type="number" name="expectedReturn" [(ngModel)]="expectedReturn" />
    </p>
    <p>
      <label for="duration" title="duration">Duration </label>
      <input type="number" name="duration" [(ngModel)]="duration" />
    </p>
  </div>
  <p>
    <button type="button" (click)="calculateInvestmentResults()">
      Calculate
    </button>
  </p>
</form>
